.common {
    width: 25%;
    min-width: 400px;
    margin-top: 8%;
    margin-left: 37%;
    border: 5px solid #a30000;
    border-radius: 10px;
    padding: 40px;
}

.btn {
    background: #a30000;
    color: white;
    box-shadow: none;
}

.btn:hover {
    color: white;
    box-shadow: none;
}

.form-control {
    border-bottom: 2px solid #a30000;
    border-top: none;
    border-left: none;
    border-right: none;
}

.form-control:focus {
    box-shadow: none;
    border-color: #a30000;
}

.logoPic {
    width: 150px;
    height: 40px;
}

.logoPic-flex {
    display: flex;
    justify-content: center;
}
